#all {
    background-color: rgba(2, 133, 185, 0.70);
    text-align: center;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif
}

#wel {
    background: linear-gradient(180deg, #9f63a9 25%, #00c5b8 75%);
    position: absolute;
    top: 15%;
    width: 25%;
    height: 70%;
    left: 25%;
    
}

#wel p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#log {
    background: #d1d1d1;
    position: absolute;
    top: 15%;
    width: 25%;
    height: 70%;
    left: 50%;
}

#git {
    position: fixed;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}